* {
	margin: 0;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
}
#wrap {
  min-height: 100%;
	margin-bottom: -100px; 
  background-color: #EEEEEE;
}
#wrap:after {
  content: "";
  display: block;
}

nav{
  border-bottom: 1px solid #CCCCCC;
}

footer, #wrap:after {
	height: 100px; 
}

footer {
  clear:both;
  padding-top:20px;
  color: #999999;
  font-size: 0.9rem;
}


.modal-open .modal{
  max-width: 100%;
  width: 100%;
  min-height:90%;
}

.modal.show .modal-dialog{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 40%;
}

a:hover, button:hover{
  cursor: pointer;
}

/*modal and tooltips */
form {
  width: 100%;
}
.tt1, .tt2, .tt3{
  position: absolute;
}
.tt1{
  bottom: 162px;
  right: 65px;
}
.tt2{
  bottom: 102px;
  right: 60px;
}
.tt3{
  bottom: 102px;
  right: 72px;
}
