<div class="container-fluid">
  <div class="row row-blue">
  </div>
</div>

<div class="container">

  <div class="row" *ngIf="currentRoute === 'pins'">
    <div class="col-sm-12">
      <h3>Cast Your Vote!</h3>
    </div>
  </div>
  <div class="row" *ngIf="currentRoute === 'my-pins'">
    <div class="col-sm-6">
      <h3>Manage Your Pins</h3>
    </div>
    <div class="col-sm-6 text-right">
      <button class="btn btn-md btn-outline-primary" [routerLink]="['/ap']">New Pin</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm" *ngIf="bricks.length > 0">
      <masonry [options]="{transitionDuration: '0.0000001s'}">
        <masonry-brick class="brick" *ngFor="let brick of bricks; let i = index">
          <div class="brick-header">
            {{brick.question}}
          </div>
            <div class="brick-body" *ngIf="currentRoute === 'my-pins'">
              <div>
                <div class="brick-button" [routerLink]="['/ap', brick.rKey, brick.pKey]">
                  Edit
                </div>
                <div class="brick-button" (click)="open(confirm, brick.question, brick.rKey, brick.pKey)">
                  Delete
                </div>
              </div>
            </div>
          <div class="brick-footer" [routerLink]="['/ap', brick.rKey]">
            Vote
          </div>
          </masonry-brick>
      </masonry>
    </div>
    <div class="col-sm text-center" *ngIf="bricks.length === 0">
      <br><br>
      <p>Create a <a [routerLink]="['/ap']">New Pin</a> to get started!</p>
      <br><br>
    </div>
  </div>
</div>

<button (click)="addPin('www.google.com')">Click Me</button>

<!--Thanks to: http://codepen.io/simoberny/pen/pJZJQY -->
<div id="container-floating">
  <div class="nd3 nds" (click)="open()">
    <p class="letter" (mouseenter)="openTooltip(1)" (mouseleave)="closeTooltip(1)" (click)="closeTooltip(1)">
      <i class="zmdi zmdi-link"></i>
    </p>
  </div>
  <div class="nd1 nds" [routerLink]="['/ap/my-pins']" *ngIf="currentRoute == 'ap'">
    <p class="letter" (mouseenter)="openTooltip(3)" (mouseleave)="closeTooltip(3)" (click)="closeTooltip(3)">
      <i class="zmdi zmdi-account-o"></i>
    </p>
  </div>
  <div class="nd1 nds" [routerLink]="['/ap']" *ngIf="currentRoute == 'my-pins'">
    <p class="letter" (mouseenter)="openTooltip(2)" (mouseleave)="closeTooltip(2)" (click)="closeTooltip(2)">
      <i class="zmdi zmdi-accounts-outline"></i>
    </p>
  </div>
  <div id="floating-button">
    <p class="plus"><i class="zmdi zmdi-plus"></i></p>
    <p class="edit"><i class="zmdi zmdi-chevron-up"></i></p>
  <div placement="left" ngbTooltip="New Pin" #t1="ngbTooltip" triggers="manual"
  class="tt1"></div>
  <div placement="left" ngbTooltip="All Pins" #t2="ngbTooltip" triggers="manual"
  class="tt2"></div>
  <div placement="left" ngbTooltip="Your Pins" #t3="ngbTooltip" triggers="manual"
  class="tt3"></div>
  </div>
</div>
